:root {
  --branding-color: #cca8e9;
  --font-family: "nunito", sans-serif;
  --primary-color: #cadefc;
  --secondary-color: #c3bef04b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--default-font-family);
}

h1 {
  color: black;
  font-family: var(--font-family);
  font-weight: 700px;
  font-size: 72px;
  line-height: 98px;
  height: 98px;
  margin-top: 50px;
}

.p-3 {
  text-align: center;
  text-transform: capitalize;
}
h2 {
  color: black;
  font-family: var(--font-family);
  font-size: 50px;
}
h3 {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 700px;
  text-align: center;
}
p,
h4 {
  color: black;
  font-weight: 400px;
  font-size: 18px;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 30px;
}
.about-paragraph {
  font-size: 20px;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 400;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  border-color: var(--branding-color);
  color: white;
  font-size: 18px;
  font-family: var(--font-family);
  line-height: 27px;
  padding: 18px 10px;
  text-transform: capitalize;
}

.btn-branding:hover {
  background: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

.btn-primary {
  background: var(--branding-color);
  border-radius: 4px;
  border-color: var(--branding-color);
  color: white;
  font-size: 18px;
  font-family: var(--font-family);
  line-height: 27px;
  padding: 18px 10px;
  text-transform: capitalize;
  display: block;
  margin: 50px auto;
}

.btn-primary:hover {
  background: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}
.img-fluid {
  width: 400px;
  height: auto;
  display: flex;
}

.about-description {
  padding: 120px 60px;
  justify-content: center;
  display: block;
  align-items: center;
}
.container {
  margin: 0 auto;
  justify-content: center;
}
.primary-link:hover {
  background: var(--secondary-color);
  color: white;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 1.2;
  font-family: var(--font-family);
  margin-bottom: 80px;
}

.about-section h2 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bolder;
  font-family: var(--font-family);
}

.about-section-content {
  margin: 50px;
}

.work-description {
  color: black;
  font-family: var(--font-family);
  font-weight: bolder;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 100px;
}

.work-container .img-fluid {
  display: block;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
  background-color: var(--secondary-color);
}

.text-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.work-container h3 {
  font-weight: bold;
  line-height: 40px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.work-container p {
  text-align: center;
  padding: 10px;
}

.work-container a {
  align-items: center;
}

.logo {
  max-width: 250px;
}

nav {
  padding: 10px 0;
}
nav li {
  display: inline;
  list-style: none;
  font-family: var(--font-family);
  line-height: 80px;
  font-size: 22px;
}
ul li {
  padding: 4px;
  margin: 0;
}
nav a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  transition: all 90ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: var(--font-family);
  text-align: center;
  display: flex;
  justify-content: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links-footer a {
  margin: 0 20px;
  color: var(--branding-color);
  padding: 10px 14px;
  font-size: 22px;
  border-radius: 50px;
  background-color: var(--secondary-color);
}

a{
  text-decoration: none;
}

footer .social-links-footer a:hover {
  color: white;
  background: var(--branding-color);
  transition: all 150ms ease-in-out;
}

footer h4 {
  font-size: 40px;
}

footer p {
  margin: 0;
}
.social-links {
  margin: 20px;
  align-items: center;
  color: var(--branding-color);
  padding: 10px 14px;
  font-size: 22px;
  border-radius: 50px;
  background-color: var(--secondary-color);
}
footer a {
  text-decoration: none;
}
.m-5 {
  display: flex;
  justify-content: center;
}

.hero h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 900px) {
  ul li {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;

    line-height: 75px;
  }
  .work-description {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 75px;
  }
  .work-container row {
    padding-top: 20px;
  }
  .mb-5 {
    text-align: center;
  }

  .socials {
    text-align: right;
  }

  .btn-branding {
    justify-content: center;
  }

  .socials {
    padding-left: 25px;
    margin-left: 20px;
  }

  .about-paragraph {
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .about-description {
    margin: 0 auto;
    padding: 50px 20px;
    justify-content: center;
  }
  .primary-link {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .img-fluid {
    display: block;
    margin: 0 auto;
  }

  .socials {
    text-align: center;
  }

  .about-description {
    margin-top: -40px;
  }
  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0px;
  }

  .about-section h1 {
    font-size: 52px;
    margin: 10px 20px;
  }

  .about-section h2 {
    font-size: 30px;
    margin-top: -15px;
  }
  .about-me {
    justify-content: center;
  }

  .content {
    margin: 0 auto;
    padding: 20px;
  }

  .work-content {
    display: block;
    margin: 0 auto;
  }

  .work-container .img-fluid {
    display: block;
    margin: 0 auto;
  }
  .work-container h1 {
    line-height: 98px;
    margin-bottom: 150px;
  }

  .logo {
    max-width: 200px;
    max-height: auto;
  }
  nav {
    padding: 0px;
  }

  .hero {
    padding: 20px;
    margin: 0px;
  }
  .logo-small {
    margin: 0 auto;
    display: block;
  }

  footer h4 {
    font-size: 22px;
  }

  footer p {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  h1 {
    margin: 30px 30px;
    line-height: 50px;
  }

  ul li {
    font-size: 16px;
  }

  .logo-small {
    margin: 0 auto;
    display: block;
  }
  .socials {
    display: block;
    margin: 0 auto;
  }

  .socials p {
    margin-top: 40px;
  }
}

@media (max-width: 1000px) {
  .about-paragraph {
    font-size: 22px;
    text-align: center;
  }

  .about-me {
    justify-content: center;
  }

  .socials {
    text-align: center;
  }

  .social-links {
    text-align: center;
  }

  .work-description {
    font-size: 58px;
    font-weight: bolder;
  }

  .work-container h1 {
    font-size: 40px;
    line-height: 60px;
    margin: 40px;
  }
  .projects-container .work {
    margin-top: 86px;
  }
}
 .intouch{
  text-align: center;
 }